@model IEnumerable<WebPortafolio2018.Models.EMPRESACLIENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresa</h2>

<p>
    @Html.ActionLink("Nuevo Registro", "Create")
</p>



<div class="ibox-content">
    <div>
        <table id="EMPRESACLIENTE" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RUTEMPRESA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOMBREEMPRESA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CONTRASEÑA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DIRECCION)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TELEFONO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RUTEMPRESA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOMBREEMPRESA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CONTRASEÑA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DIRECCION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TELEFONO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            @Html.ActionLink("Actualizar", "Edit", new { id = item.EMPRESACLIENTEID }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.EMPRESACLIENTEID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.EMPRESACLIENTEID })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#EMPRESACLIENTE').DataTable();
    });
</script>